@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/************
*************
COLORS
*************
************/
/*
// #38112D - header/intro
// & contact
// #231429 - nav/footer & projects
// #18131C - about
// #EB013B - redness
// #ECDCDC - off-white
*/
/********
********/

.darkpurple-bg { 
  background-color: #231429;
}

.almost-black {
  background-color: #18131C;
}

.burgundy-bg { 
  background-color: #38112D;
} /* burgundy */

.text-offwhite {
  color: #ECDCDC;
} /*Off-White*/

.text-red-hover:hover {
  color: #EB013B;
}

.karla {
  font-family: 'Karla', sans-serif;
}



.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
  color: #ECDCDC;
}

